.shop-button {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 0;
  span {
    color: #fff;
  }
  &-quantity {
    text-decoration: underline;
  }
  &:hover {
    cursor: pointer;
    background-color: $menu-link-bg;
  }

}

.basket {
  position: absolute;
  width: 600px;
  min-height: 90px;
  background-color: #fff;
  display: none;
  border: 1px solid #ddd;
  z-index: 100;
  box-sizing: border-box;
  padding: 10px;
  top: 60px;
  right: 0;
  box-shadow: 1px 2px 5px #ddd;
  &-header {
    @include clearfix();
    margin-bottom: 30px;
    &-title {
      float: left;
      font-size: 16px;
      line-height: 27px;
      color: #666;
      font-weight: bold;
    }
  }
  &-active {
    display: block;
  }
  &-item {
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    @include clearfix();
    box-sizing: border-box;
    width: 580px;
    &-info {
      float: left;
      width: 380px;
    }
    &-actions {
      float: left;
      width: 200px;
      text-align: right;
      line-height: 10px;
      a {
        text-decoration: none;
        color: #336699;
        padding: 5px;
        &:hover {
          background-color: #f6f6f6;
        }
      }
    }

    &-title {
      line-height: 15px;
      color: #666;
    }

    &-quantity {
      color: #666;
      font-size: 13px;
      margin-right: 10px;
    }
    &-price {
      color: #666;
      font-size: 12px;
      margin-left: 10px;
      text-decoration: underline;
    }



  }

  &-result {
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    line-height: 30px;
  }

  &-empty {
    text-align: center;
    color: #666;
    margin: 30px 0;
  }
  &-input {
    float: right;
    width: 20px;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
  &-remove {
    float: right;
    text-decoration: none;
    color: #336699;
    line-height: 15px;
  }

  &-checkout {
    border: none;
    color: #336699;
    font-weight: bold;
    font-size: 12px;
    background-color: #fff;
    padding: 5px;
    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
    }
  }
  &-close {
    float: right;
    border: none;
    color: #336699;
    font-weight: bold;
    font-size: 12px;
    background-color: #fff;
    padding: 5px;
    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
    }
  }


}