.contacts {
  padding-top: 30px;
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  h4 {
  }
  p {

  }
}


.map {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 400px;
  border: 1px solid #ddd;
}