.form {
  width: 500px;
  margin: 0 auto 30px auto;
  &-row {
    margin-bottom: 30px;
    @include clearfix();
  }
  &-label {
    font-weight: bold;
    color: #666;
  }
  &-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 0 5px;
    font-size: 14px;
    outline: none;
    border: 1px solid #ddd;
  }
  &-select {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 14px;
    display: block;
    border: 1px solid #ddd;
  }
  &-textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    height: 100px;
    outline: none;
    padding: 5px;
    resize: none;
    font-size: 14px;
  }

  &-col-left {
    float: left;
    width: 200px;
  }
  &-col-right {
    position: relative;
    float: right;
    width: 280px;
    margin-left: 20px;
  }
  &-radio-label {
    display: block;
    color: #666;
    input[type="radio"] {
      border: 1px solid #ddd;
    }
  }

  &-button {
    border: none;
    color: #336699;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    background-color: #f6f6f6;
    &:hover {
      cursor: pointer;
    }
  }

  &-footer {
    text-align: center;
  }

}