.goods {
  @include clearfix();
}
.row {
  @include clearfix();
}

.good {
  position: relative;
  width: 320px;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 30px;
  &-success {
    font-size: 12px;
    color: #666;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &-body {
    border: 1px solid #ddd;
    position: relative;
  }
  &-img {
    img {
      max-width: 100%;
    }
  }

  &-description {
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    span {
      font-size: 16px;
      font-weight: bold;
      color: #666;
    }
  }

  &-footer {

  }

  &-price {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }

  &-check {
    border: none;
    color: #336699;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    outline: none;
    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
    }
    &-active {
      outline: 1px solid #ddd;
      background-color: #f6f6f6;
    }
  }
  &-additional {
    float: right;
    margin-right: 10px;
    line-height: 35px;
  }
  &-quantity-input {
    width: 20px;
    text-align: center;
    margin-right: 10px;
    outline: none;
  }
  &-quantity-label {
    font-size: 13px;
    color: #666;
  }
  &-quantity {
    font-size: 14px;
    font-weight: bold;
    color: #666;
  }

  &-minus {
    text-decoration: none;
    color: #336699;
    padding: 5px;
    display: inline-block;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  &-plus {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #336699;
    margin-left: 10px;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  &-ok {
    text-decoration: none;
    color: #336699;
    margin-left: 15px;
    padding: 5px;
    &:hover {
      background-color: #f1f1f1;
    }
  }

}