
.menu-items {
  @include clearfix();
  margin-bottom: 30px;
}
.menu-item {
  width: 320px;
  box-sizing: border-box;
  float: left;
  padding: 15px;
  margin-bottom: 30px;
  &-body {
    border: 1px solid #ddd;
  }

  &-img {
    font-size: 0;
    img {
      max-width: 100%;
    }
    &:hover {
      box-shadow: 1px 4px 5px #ddd;
    }



  }



  &-description {
    margin-top: 10px;
    font-size: 15px;
    color: #666;
    text-align: center;
    font-weight: bold;

  }


}
