@import "mixins";

$menu-link-color: #fff;
$menu-link-bg: darken(#5bc0de, 5%);
$border-color: #ddd;



html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.header {
  @include clearfix();
  position: relative;
  margin-bottom: 30px;
  background-color: #5bc0de;
  box-shadow: 0 1px 5px #5bc0de;
}
.logo {
  margin: 40px 0 0 0;
  display: inline-block;
  float: left;
  color: #fff;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
}


.menu {
  float: right;
  margin-top: 100px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        color: $menu-link-color;
        display: inline-block;
        padding: 10px;
        &:hover {
          background-color: $menu-link-bg;
        }
        &.active {
          border-bottom: 2px solid $border-color;
          padding-bottom: 8px;
        }


      }
    }
  }
}

.page-header {
  text-align: center;
  color: #666;
  margin-bottom: 50px;
  margin-top: 50px;
}
.slide-img {
  height: 500px;
  img {
    max-width: 100%;
  }
}

.main-img {
  width: 320px;
  box-sizing: border-box;
  font-size: 0;
  float: left;
  padding: 10px;
  img {
    max-width: 100%;
  }
}

.content {
  margin-top: 50px;
}

.footer {
  height: 150px;
}


.offers {
  margin-top: 50px;
  margin-bottom: 50px;
  &-item {
    float: left;
    width: 320px;
    box-sizing: border-box;
    padding: 15px;
    &-header {
      background: #f6f6f6;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
      color: #666;
    }
    &-content {
      padding: 10px;
      ul {
        margin: 0;
        padding-left: 15px;
        li {
          margin-bottom: 15px;
          font-size: 13px;
          color: #666;
        }
      }
    }
    &-body {
      border: 1px solid #ddd;
      height: 400px;
    }
  }


}


@import "menu";
@import "form";
@import "basket";
@import "goods";
@import "contacts";