html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif; }

.container {
  position: relative;
  width: 960px;
  margin: 0 auto; }

.header {
  position: relative;
  margin-bottom: 30px;
  background-color: #5bc0de;
  box-shadow: 0 1px 5px #5bc0de; }
  .header:after {
    content: '';
    display: block;
    clear: both; }

.logo {
  margin: 40px 0 0 0;
  display: inline-block;
  float: left;
  color: #fff;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive; }

.menu {
  float: right;
  margin-top: 100px; }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .menu ul li {
      float: left;
      margin-right: 10px; }
      .menu ul li:last-child {
        margin-right: 0; }
      .menu ul li a {
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 10px; }
        .menu ul li a:hover {
          background-color: #46b8da; }
        .menu ul li a.active {
          border-bottom: 2px solid #ddd;
          padding-bottom: 8px; }

.page-header {
  text-align: center;
  color: #666;
  margin-bottom: 50px;
  margin-top: 50px; }

.slide-img {
  height: 500px; }
  .slide-img img {
    max-width: 100%; }

.main-img {
  width: 320px;
  box-sizing: border-box;
  font-size: 0;
  float: left;
  padding: 10px; }
  .main-img img {
    max-width: 100%; }

.content {
  margin-top: 50px; }

.footer {
  height: 150px; }

.offers {
  margin-top: 50px;
  margin-bottom: 50px; }
  .offers-item {
    float: left;
    width: 320px;
    box-sizing: border-box;
    padding: 15px; }
    .offers-item-header {
      background: #f6f6f6;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
      color: #666; }
    .offers-item-content {
      padding: 10px; }
      .offers-item-content ul {
        margin: 0;
        padding-left: 15px; }
        .offers-item-content ul li {
          margin-bottom: 15px;
          font-size: 13px;
          color: #666; }
    .offers-item-body {
      border: 1px solid #ddd;
      height: 400px; }

.menu-items {
  margin-bottom: 30px; }
  .menu-items:after {
    content: '';
    display: block;
    clear: both; }

.menu-item {
  width: 320px;
  box-sizing: border-box;
  float: left;
  padding: 15px;
  margin-bottom: 30px; }
  .menu-item-body {
    border: 1px solid #ddd; }
  .menu-item-img {
    font-size: 0; }
    .menu-item-img img {
      max-width: 100%; }
    .menu-item-img:hover {
      box-shadow: 1px 4px 5px #ddd; }
  .menu-item-description {
    margin-top: 10px;
    font-size: 15px;
    color: #666;
    text-align: center;
    font-weight: bold; }

.form {
  width: 500px;
  margin: 0 auto 30px auto; }
  .form-row {
    margin-bottom: 30px; }
    .form-row:after {
      content: '';
      display: block;
      clear: both; }
  .form-label {
    font-weight: bold;
    color: #666; }
  .form-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 0 5px;
    font-size: 14px;
    outline: none;
    border: 1px solid #ddd; }
  .form-select {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 14px;
    display: block;
    border: 1px solid #ddd; }
  .form-textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    height: 100px;
    outline: none;
    padding: 5px;
    resize: none;
    font-size: 14px; }
  .form-col-left {
    float: left;
    width: 200px; }
  .form-col-right {
    position: relative;
    float: right;
    width: 280px;
    margin-left: 20px; }
  .form-radio-label {
    display: block;
    color: #666; }
    .form-radio-label input[type="radio"] {
      border: 1px solid #ddd; }
  .form-button {
    border: none;
    color: #336699;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    background-color: #f6f6f6; }
    .form-button:hover {
      cursor: pointer; }
  .form-footer {
    text-align: center; }

.shop-button {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 0; }
  .shop-button span {
    color: #fff; }
  .shop-button-quantity {
    text-decoration: underline; }
  .shop-button:hover {
    cursor: pointer;
    background-color: #46b8da; }

.basket {
  position: absolute;
  width: 600px;
  min-height: 90px;
  background-color: #fff;
  display: none;
  border: 1px solid #ddd;
  z-index: 100;
  box-sizing: border-box;
  padding: 10px;
  top: 60px;
  right: 0;
  box-shadow: 1px 2px 5px #ddd; }
  .basket-header {
    margin-bottom: 30px; }
    .basket-header:after {
      content: '';
      display: block;
      clear: both; }
    .basket-header-title {
      float: left;
      font-size: 16px;
      line-height: 27px;
      color: #666;
      font-weight: bold; }
  .basket-active {
    display: block; }
  .basket-item {
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    width: 580px; }
    .basket-item:after {
      content: '';
      display: block;
      clear: both; }
    .basket-item-info {
      float: left;
      width: 380px; }
    .basket-item-actions {
      float: left;
      width: 200px;
      text-align: right;
      line-height: 10px; }
      .basket-item-actions a {
        text-decoration: none;
        color: #336699;
        padding: 5px; }
        .basket-item-actions a:hover {
          background-color: #f6f6f6; }
    .basket-item-title {
      line-height: 15px;
      color: #666; }
    .basket-item-quantity {
      color: #666;
      font-size: 13px;
      margin-right: 10px; }
    .basket-item-price {
      color: #666;
      font-size: 12px;
      margin-left: 10px;
      text-decoration: underline; }
  .basket-result {
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    line-height: 30px; }
  .basket-empty {
    text-align: center;
    color: #666;
    margin: 30px 0; }
  .basket-input {
    float: right;
    width: 20px;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
    margin-right: 10px; }
  .basket-remove {
    float: right;
    text-decoration: none;
    color: #336699;
    line-height: 15px; }
  .basket-checkout {
    border: none;
    color: #336699;
    font-weight: bold;
    font-size: 12px;
    background-color: #fff;
    padding: 5px; }
    .basket-checkout:hover {
      cursor: pointer;
      background-color: #f6f6f6; }
  .basket-close {
    float: right;
    border: none;
    color: #336699;
    font-weight: bold;
    font-size: 12px;
    background-color: #fff;
    padding: 5px; }
    .basket-close:hover {
      cursor: pointer;
      background-color: #f6f6f6; }

.goods:after {
  content: '';
  display: block;
  clear: both; }

.row:after {
  content: '';
  display: block;
  clear: both; }

.good {
  position: relative;
  width: 320px;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 30px; }
  .good-success {
    font-size: 12px;
    color: #666;
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .good-body {
    border: 1px solid #ddd;
    position: relative; }
  .good-img img {
    max-width: 100%; }
  .good-description {
    padding: 5px;
    margin-bottom: 20px;
    text-align: center; }
    .good-description span {
      font-size: 16px;
      font-weight: bold;
      color: #666; }
  .good-price {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px; }
  .good-check {
    border: none;
    color: #336699;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    outline: none; }
    .good-check:hover {
      cursor: pointer;
      background-color: #f6f6f6; }
    .good-check-active {
      outline: 1px solid #ddd;
      background-color: #f6f6f6; }
  .good-additional {
    float: right;
    margin-right: 10px;
    line-height: 35px; }
  .good-quantity-input {
    width: 20px;
    text-align: center;
    margin-right: 10px;
    outline: none; }
  .good-quantity-label {
    font-size: 13px;
    color: #666; }
  .good-quantity {
    font-size: 14px;
    font-weight: bold;
    color: #666; }
  .good-minus {
    text-decoration: none;
    color: #336699;
    padding: 5px;
    display: inline-block; }
    .good-minus:hover {
      background-color: #f1f1f1; }
  .good-plus {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #336699;
    margin-left: 10px; }
    .good-plus:hover {
      background-color: #f1f1f1; }
  .good-ok {
    text-decoration: none;
    color: #336699;
    margin-left: 15px;
    padding: 5px; }
    .good-ok:hover {
      background-color: #f1f1f1; }

.contacts {
  padding-top: 30px;
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  color: #666; }

.map {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 400px;
  border: 1px solid #ddd; }
